@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

/**--상단메뉴바--**/


.nav{
    width: 100%;
    height: 180px;
    background-color: white;
    background-position: center;
}

.logo{
    padding-top: 52px;
}

.menubar{
    width: 1200px;
    height: 180px; 
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.menu{
    font-family: 'GangwonEduPowerExtraBoldA';
    font-size: 30px;
    letter-spacing: -0.02em;
    line-height: 0;
    padding-top: 100px;
    text-transform: capitalize;
    color: #000000;
    position: relative;

}

.menu > a{
    color: #000000;
}

.menu > a:hover {
    color: #F269AD
}

/**--메인화면--**/

body{
    background-image: url(webimg/bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



.main{
    width: 1100px;
    height: 649px;
    background-image: url('webimg/main.png');
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 242px;

}

/**--프로필--**/

.profile{
    width: 600px;
    height: 100px;
    background-image: url('webimg/profile.png');
    margin: auto;
    margin-bottom: 144px;
}

.pf{
    width: 100%;
    height: 100%;
}

.minseo{
    width: 1500px;
    height: 451px;
    background-image: url('webimg/minseo.png');
    margin: auto;
    margin-bottom: 169px;
}

.skills{
    width: 1500px;
    height: 307px;
    background-image: url('webimg/skill.png');
    margin-bottom: 386px;
    margin: auto;
    margin-bottom: 391px;
}

/**--아트워크--**/

.works{
    width: 599.5px;
    height: 101px;
    background-image: url('webimg/artwork.png');
    margin: auto;
    margin-bottom: 183px;
}

.bucheon{
    width: 1100px;
    height: 1395px;
    background-image: url('webimg/bucheon.png');
    margin: auto;
    margin-bottom: 300px;
}

.busan{
    width: 1100px;
    height: 1388px;
    background-image: url('webimg/busan.png');
    margin: auto;
    margin-bottom: 300px;
}

.natulove{
    width: 1100px;
    height: 1395px;
    background-image: url('webimg/natulove.png');
    margin: auto;
    margin-bottom: 300px;
}

.jan{
    width: 1100px;
    height: 1423px;
    background-image: url('webimg/jan.png');
    margin: auto;
    margin-bottom: 300px;
}

.milk{
    width: 1100px;
    height: 1423px;
    background-image: url('webimg/fresh.png');
    margin: auto;
    margin-bottom: 300px;
}

.chara{
    width: 1100px;
    height: 1201px;
    background-image: url('webimg/chara.png');
    margin: auto;
    margin-bottom: 680px;
}

/**--컨택트--**/

.contacts{
    width: 599.5px;
    height: 92.5px;
    background-image: url('webimg/contact.png');
    margin: auto;
    margin-bottom: 230px;
}

.email{
    width: 900px;
    height: 194px;
    background-image: url('webimg/email.png');
    margin: auto;
    margin-bottom: 58px;
}

.phone{
    width: 900px;
    height: 194px;
    background-image: url('webimg/phone.png');
    margin: auto;
    margin-bottom: 287px;
}

/**--푸터--**/

footer{
    width: 100%;
    height: 118px;
    background-color: #FFD1D1;
    display: flex;
    justify-content: center;
    align-items: center;
}

